@model ReportsListViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.CurrentFacultie</h1>
<h2>@Model.CurrentDepartment</h2>
@foreach(var report in Model.Reports)
{
    <div>
        <h3>
            @report.ID
        </h3>
        <text>
            @report.Report
        </text>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
